<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <header>
        <%- include('./layout/header') %>
        <div>
            <!-- <img src="images/austin-neill-hgO1wFPXl3I-unsplash.jpg" alt=""> -->
        </div>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam unde pariatur ipsam, libero nostrum dolor enim temporibus illo adipisci, qui hic iusto! Natus quas voluptate ea distinctio commodi fugiat architecto.
        Maxime culpa laborum hic. Amet sit cum recusandae, magni ipsum, fuga eum voluptatum odio quasi omnis nihil soluta itaque corrupti quas aut facilis distinctio fugit. Atque, quia. Nostrum, error molestias.
        Excepturi maxime id sapiente. Necessitatibus, omnis iure. Repellendus maiores quaerat architecto saepe accusantium a obcaecati distinctio officiis, pariatur fuga odio consequatur quia quo at magnam nisi enim expedita impedit suscipit.
        Dolorum quibusdam provident dolorem reiciendis dicta commodi eligendi porro! Delectus atque incidunt id quaerat ducimus corporis alias modi tempore nulla repellat sed dolore, consequuntur labore unde in dignissimos! Inventore, rem.
        Sunt laborum culpa tempora, obcaecati dolor, assumenda repellat eos repudiandae dicta iusto fugit dolores facere unde sequi animi. Recusandae eveniet modi quasi nisi, velit nostrum eum nobis dolore possimus pariatur.
        Earum eaque consequuntur totam sed id omnis facere quis, nihil minima odit molestiae commodi natus animi obcaecati dolorum ipsa excepturi quasi eligendi numquam deleniti asperiores hic voluptatem reprehenderit? Illum, impedit?
        Mollitia reiciendis, at velit eaque ab, aperiam consequuntur cum tenetur, unde nostrum error maxime libero? Voluptates deleniti optio dolor quibusdam, cupiditate reprehenderit praesentium harum commodi laborum magnam saepe similique. Autem!
        Corporis aperiam illo error deleniti expedita voluptatibus rerum aliquam est, quis, eius molestiae nemo. Quaerat, odit sint adipisci impedit facere earum ad quos aperiam, id temporibus perspiciatis aliquid nulla! Mollitia!
        Assumenda consectetur rerum dignissimos possimus ex libero laboriosam ducimus voluptatem. Ullam nesciunt repellat quis fugit exercitationem perferendis, modi doloribus molestias earum ex dolor a corrupti animi qui vero, iusto tempore?
        Amet nihil optio quisquam quia error saepe dignissimos praesentium omnis assumenda vero perspiciatis possimus non corrupti beatae fugiat eligendi, ratione similique, obcaecati libero illum. Tenetur repellendus temporibus quia harum accusantium.</p>

    </main>
    <footer>
        <%- include('./layout/footer') %>
    </footer>
    <script src="js/app.js"></script>
</body>
</html>