<section id="footer">
    <div class="footer">

        <div class="footer-contant">

            <div class="footer-section about">
                <h1 class="logo">
                    <span>Music</span>ly
                </h1>
                <br><br><br>
                <p id="text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi nam suscipit
                    accusamus quibusdam ab placeat, maxime quas reiciendis
                    nihil adipisci doloremque molestias voluptatem necessitatibus eum eveniet sapiente? Neque, quam eum?
                </p>
                <br><br>
                <div class="contact">
                    <span><i class="fas fa-phone"></i>&nbsp; 234-567-890</span>
                    <span><i class="fas fa-envelope"></i>&nbsp; info@music.com</span>
                </div>
                <br>

                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <br>
                <ul>
                    <a href="#">
                        <li>Events</li>
                    </a>
                    <a href="#">
                        <li>Team</li>
                    </a>
                    <a href="#">
                        <li>Gallery</li>
                    </a>

                </ul>
            </div>
            <div class="footer-section contact">
                <h2>Contact Us</h2>
                <br>


                <form class="contact-form" >
                    <input type="email" name="email" class="text-input  contact-input" placeholder="Your Email...">
                    <textarea name="message" class="text-input  contact-input" placeholder="Your message..."></textarea>
                    <button>
                        <i class="fas fa-envelope"></i>
                        Send
                    </button>
                </form>










            </div>


        </div>



        <div class="footer-bottom">
            &copy; music.com 2021 </div>

    </div>
</section>